@scale: calc(326 / 375);
@scale1: calc(64 / 84);
@width: calc(375px * @scale);
@width1: calc(375px * @scale * @scale1 + 4px);

.im {
  height: calc(100vh - 84px);

  .iPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/elements/iPhone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px auto;

    .content {
      display: flex;
      flex-direction: column;
      width: @width;
      height: 705px;
      margin: -1px 0 0 -1px;
      border-radius: 34px;
      overflow: hidden;
      //background-color: rgba(220, 0, 220, .5);

      .statusBars {
        width: 100%;
        height: calc(44px * @scale);
        background-image: url("/elements/statusBars.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
      }

      .time {
        position: absolute;
        margin: 12px 0 0 26px;
        font-size: 12px;
      }

      .socket {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 666px){
  .im {
    height: calc(100vh - 180px);

    .iPhone {
      background-size: calc(385px * @scale1) auto;

      .content {
        width: @width1;
        height: calc(705px * @scale1 + 17px);
        margin: -1px 0 0 -2px;
        border-radius: 30px;

        .time {
          position: absolute;
          margin: 7px 0 0 17px;
          font-size: 12px;
        }
      }
    }
  }
}
