@import "/pages/im/index";

.socket {
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .container {
    width: 100%;
    margin-top: -100px;
    text-align: center;

    Input {
      width: 80%;
      margin-bottom: 10px;
    }

    Button {
      width: 80%;
    }
  }
}

.chat {

  .recipient {
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
  }

  .context {
    display: flex;
    flex-direction: column;
    height: 580px;
    overflow-y: auto;

    .message {
      display: flex;
      align-items: center;
      margin: 8px 0;

      &.sender {
        justify-content: flex-end;

        .msg {
          margin: 0 0 0 10px;
        }
      }

      .msg {
        margin: 0 10px 0 -3px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #a0ea6f;
      }

      .before {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: -3px;
        border: 10px solid;
        border-color: transparent #a0ea6f transparent transparent;
      }

      .after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: -3px;
        border: 10px solid;
        border-color: transparent transparent transparent #a0ea6f;
      }
    }
  }

  .send {
    display: flex;
    position: absolute;
    width: @width;

    Input {
      margin-right: 1px;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 666px){
  .chat {

    .context {
      height: 440px;
    }

    .send {
      width: @width1;
    }
  }
}
