.data {
  display: flex;
  padding: 20px 0;
}

.card {
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px 0 rgba(95,101,105,.1);
  }

  .background {
    height: 150px;
    background-size: cover;
    background-position: center;
  }

  .context {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    background-color: #f7f7f7;
    user-select: none;
  }
}
